<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GarageSN</title>
        <link rel="stylesheet" href="/css/footer.css">
      
    </head>
    
    <footer>
    <div class="footer">
        <section class="contacto">
            
                <li class="contacto">
                 Telefono 
                 <a href="">3364624432</a>  
                </li>
            
             
                <li class="contacto">
                    Email
                    <a href="">garagesn@gmail.com</a>
                </li>
            
            
                <li class="contacto">
                    Direccion
                    <a href="">Calle Falsa 123</a>
                </li>
            
            
    </section>
    <section class="redes">
        <ul>
            <li>
                <img src="/img/wpp.png" class="redes" alt="WPP">
                <img src="/img/facebook.png" class="redes" alt="Instagram">
                <img src="/img/instagram.png" class="redes" alt="Facebook">
            </li>
            <li>
                <h6>  Seguinos y enterate de todas las novedades</h6>
            </li>
        </ul> 
    </section>
    <section class="nosotros">
        <a href="/"><img src="/img/GarageLogo.png" class="nosotros" alt="GarageLogo"></a>
    </section>
</div>
    </footer>
    
</body>
</html>