<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>GarageSN</title>
</head>
<body>      
            <header>
                <%-include('partials/header.ejs')%>
              </header>
   <main>
    <p><a href="/vehiculos/vehiculoList"><img src="/img/compraseguro.png" alt=""></p></a>
 <p><a href="/vehiculos/venderVehiculo"><img src="/img/vendetuauto.png" alt=""></p></a>
 <p><img src="/img/auto.png" alt=""></p>
   </main>

   <footer>
    <%-include("partials/footer.ejs")  %> 
   </footer>
</body>
</html>