<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulario.css">
    <title>GarageSN</title>
</head>
<header>
<%-include('partials/header.ejs')%>
</header>
       


<div class="inputs">
<form action="newVehiculo" method="post" enctype="multipart/form-data">
    <% if(typeof errors != 'undefined'){ %>
        <ul class="claseNueva">
            <% for (let i = 0; i < errors.length; i++) { %>
                <li style="color:red; padding-left: 20px;" class="claseNueva">
                    <%= errors[i].msg %>
                </li>
            <% } %> 
        </ul>
    <% } %>
    <div class="formulario">
        <label for="">Titulo</label>
        <input type="text" name="nombre" required minlength="1">
    </div>
    <div class="formulario">
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" class="descripcion" required minlength="10 caracteres">
    </div>

    <div class="formulario">
        <label for="">Precio</label>
        <input type="number" name="precio" required min="10">
    </div>
    <div class="formulario">
        <label for="">Imagen de perfil</label>
        <input type="file" name="imagenvehiculo" required>
    </div>
    <div class="formulario">
        <label for="">Elija la categoria</label>
        <select name="categoria">
            <% categorias.forEach((categoria)=>{%>
                <option value="<%= categoria.id %>"><%= categoria.nombre%></option>
            <% }) %>
        </select>
    </div>
    
    <button  type="submit" class="btn"> Crear </button>
</form>
</div>
   </body>
</html>
