<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulario.css">
    <title>GarageSN</title>
</head>
<header>
<%-include('partials/header.ejs')%>
</header>
       
<p><img src="/img/vendetuauto.png" class="formulario" alt=""></p>


<form action="newVehiculo" method="post" enctype="multipart/form-data">
    <div class="formulario">
        <label for="">Titulo</label>
        <input type="text" name="nombre">
    </div>
    <div class="formulario">
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" class="descripcion">
    </div>

    <div class="formulario">
        <label for="">Precio</label>
        <input type="number" name="precio">
    </div>
    <div class="formulario">
        <label for="">Imagen de perfil</label>
        <input type="file" name="imagenvehiculo">
    </div>
    <div class="formulario">
        <label for="">Elija la categoria</label>
        <select name="categoria">
            <% categorias.forEach((categoria)=>{%>
                <option value="<%= categoria.id %>"><%= categoria.nombre%></option>
            <% }) %>
        </select>
    </div>
    
    <button  type="submit"> Crear </button>
</form>


