@import url('https://fonts.googleapis.com/css2? family= Alegreya:wght@400;500 & family= PT+Sans:ital,wght@1,700 & family= Roboto:ital,wght@ 1700 & mostrar=intercambiar');

:root {
    --blanco-medio: #f5f3eb;
    --gris: #3C3C3B;
    --naranja: #FF701B;
    --naranja-claro: #f7aa2c;
    --celeste: #b0d0cf;
    --rojo: #fc2020;
    --azul-fuerte: #222d56;
    --text: "Alegrya"
 
   
}

* { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--naranja);
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
div.atraccion{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-top: 30px;
    
}
div.navegador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    font-size: 30px;
}
ul.items{
    display: contents;
    list-style:none
}
@media (max-width: 513px) {
    ul {
        flex-direction: column;

    }
}






@media (min-width: 769px) {
    footer {
        flex-direction: row;
        flex-wrap: wrap;
    }
}